= simple_form_for house, :html => {:class => 'form-inline' } do |form|
= render 'form'
= link_to "Delete House", { controller: :houses, action: 'destroy', id: house.id }, confirm: "Are you sure? There is no undo.", method: :delete, class: "btn btn-danger"
